# Database Configuration
DB_HOST=
DB_PORT=
DB_NAME=

# Admin User (Para TypeORM y migraciones)
DB_ADMIN_USER=
DB_ADMIN_PASSWORD=

# Public User (Para consultas de solo lectura)
# DB_PUBLIC_USER=alfalite_public
# DB_PUBLIC_PASSWORD=super_secret_public_password

# App Config
PORT=
ENVIRONMENT=
JWT_SECRET_KEY=

# Email Configuration
EMAIL_HOST=
EMAIL_PORT=
EMAIL_USER=
EMAIL_PASS=
EMAIL_FROM=
QUOTE_RECIPIENT=